In [1]:
#Series is one dimensional array
import pandas as pd
name=['abc','def','pqr']
#creating a series by using list
ser=pd.Series(name)

In [4]:
#displaying a series
print(ser)

0    abc
1    def
2    pqr
dtype: object

In [6]:
df=pd.read_csv("dirtydata.csv")
#creating a series by using csv
ser1=pd.Series(df['Duration'])

In [7]:
#displaying series
print(ser1)

0      60
1      60
2      60
3      45
4      45
5      60
6      60
7     450
8      30
9      60
10     60
11     60
12     60
13     60
14     60
15     60
16     60
17     60
18     45
19     60
20     45
21     60
22     45
23     60
24     45
25     60
26     60
27     60
28     60
29     60
30     60
31     60
Name: Duration, dtype: int64

In [13]:
#displaying first 5 rows in series
data=ser1.head(10)
print(data)

0     60
1     60
2     60
3     45
4     45
5     60
6     60
7    450
8     30
9     60
Name: Duration, dtype: int64

In [14]:
#using loc function
data.loc[3:4]

3    45
4    45
Name: Duration, dtype: int64

In [15]:
#using iloc function
data.iloc[8:10]

8    30
9    60
Name: Duration, dtype: int64

In [23]:
#performing binary operations on series
#creating own index
name=['a','pqr','xyz','hjk','lpk','ramya']
ser3=pd.Series(name,index=['a','b','c','d','e','f'])
print(ser3)

a        a
b      pqr
c      xyz
d      hjk
e      lpk
f    ramya
dtype: object

In [33]:
#performing binary operations on series
#adding two series 
ser2=pd.Series(df['Pulse'])
data3=ser2.head(6)
data2=ser1.head(6)
print(data2)
print(data3)
data2.add(ser2,fill_value=0)

0    60
1    60
2    60
3    45
4    45
5    60
Name: Duration, dtype: int64
0    110
1    117
2    103
3    109
4    117
5    102
Name: Pulse, dtype: int64

0     170.0
1     177.0
2     163.0
3     154.0
4     162.0
5     162.0
6     110.0
7     104.0
8     109.0
9      98.0
10    103.0
11    100.0
12    100.0
13    106.0
14    104.0
15     98.0
16     98.0
17    100.0
18     90.0
19    103.0
20     97.0
21    108.0
22    100.0
23    130.0
24    105.0
25    102.0
26    100.0
27     92.0
28    103.0
29    100.0
30    102.0
31     92.0
dtype: float64

In [36]:
#Converting series to list
ser4=pd.Series(df['Calories'])
list1=ser4.tolist()
print(list1)

[409.1, 479.0, 340.0, 282.4, 406.0, 300.0, 374.0, 253.3, 195.1, 269.0, 329.3, 250.7, 250.7, 345.3, 379.3, 275.0, 215.2, 300.0, nan, 323.0, 243.0, 364.2, 282.0, 300.0, 246.0, 334.5, 250.0, 241.0, nan, 280.0, 380.3, 243.0]